@font-face {
    font-family: 'Flick Demo';
    src: url('assets/Flick-Demo-BF6582532893799.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Darker Grotesque';
    src: url('assets/DarkerGrotesque-Regular.ttf') format('truetype');
  }
  
  /* NAVBAR STYLES */
  .custom-navbar {
    background-color: #01161E !important;
  }
  
  .navbar {
    background-color: #01161E;
  }
  
  .navbar .nav-link {
    color: #ffffff;
    font-size: 25px;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
    font-family: 'Darker Grotesque', sans-serif !important;
  }
  
  .navbar .nav-link:hover,
  .navbar .nav-link.active {
    color: #B45748 !important;
  }
  
  .navbar .btn.btn-outline-light {
    font-family: 'Flick Demo', cursive !important;
    font-size: 28px;
    width: 160px;
    height: 50px;
    background-color: #B45748 ;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 30px;
  }
  
  .navbar .btn.btn-outline-light:hover {
    background-color: #B45748;
    color: #fff;
  }
  
  
  /* CONTACT SECTION */
  .contact-section {
    background-color: #fff;
  }
  
  .connect-title {
    font-family: 'Flick Demo', cursive !important;
    font-size: 115px;
    color: #01161E;
    line-height: 1.1;
  }
  
  .form-title {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 40px;
    color: #01161E;
  }
  
  .form-label {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.2rem;
    color: #01161E;
  }
  
  .custom-input {
    border: 1px solid #B45748;
    border-radius: 2px;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1rem;
    padding: 0.75rem;
    background-color: #fff;
    color: #01161E;
  }
  
  .custom-input::placeholder {
    color: #888;
  }
  
  .submit-btn {
    background-color: #01161E;
    color: white;
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    font-family: 'Darker Grotesque', sans-serif;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #B45748;
    color: white;
  }
  
  /* FOOTER */
  footer img {
    display: block;
    margin: 0 auto;
  }
  
  /* RESPONSIVE */
  @media (max-width: 768px) {
    .connect-title {
      font-size: 3rem;
      text-align: center;
    }
  
    .form-title {
      text-align: center;
    }
  }
