*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    background-color: rgba(103, 243, 212, 0.68);
    border:rgb(64, 232, 75) solid 1px ;
    margin: 20px;
    padding: 20px;
}

.important{
    background-color: rgb(144, 226, 153);
    color: rgb(48, 78, 17);
}

.flexbox{
    display: flex;
    background-color: transparent;
    border: none;
}

nav{
    align-items: center;
    justify-content: center;
}